<form action="/recipes" method="post">
  <label for="recipe_name">Recipe name:</label>
  <input type="text" id="recipe_name" name="recipe_name">
  <label for="recipe_description">Recipe description:</label>
  <input type="text" id="recipe_description" name="recipe_description">
  <label for="recipe_rating">Recipe rating:</label>
  <input type="text" id="recipe_rating" name="recipe_rating">
  <label for="recipe_prep_time">Recipe prep time:</label>
  <input type="text" id="recipe_prep_time" name="recipe_prep_time">
  <input type="submit" value="Submit">
</form>
<%  %>