* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #EEE;
  position: absolute;
  top: 75px;
  width: 100%;
  text-align: center;
}

div {
  padding: 10px 10px;
}

a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2.5rem;
  font-weight: 600;
}

p, nav {
  font-size: 1.5rem;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EEE;
}

#header-title {
  font-size: 4rem;
  font-weight: 700;
}

#new-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #F1C40F;
  transition: 0.5s;
  padding: 2px 20px;
  font-size: 1.7em;
  border-radius: 7px;
  text-align: center;
}

.button:hover {
  background-color: #FFA600;
  cursor: pointer;
}

#recipes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.recipe-card {
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  height: 100%;
  border-radius: 20px;
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.grey-card {
  background-color: #EAEAEA;
  border: 2px solid #BBB;
}

.grey-card:hover {
  background-color: #E0E0E0;
}

.green-card {
  background-color: #CBEDD0;
  border: 2px solid #8BD695;
}

.green-card:hover {
  background-color: #AFEAB7;
}

.recipe-name {
  height: 5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-description p {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  height: 12rem;
  overflow: hidden;
}

.recipe-rating p {
  font-size: 1.7rem;
  font-weight: 600;
}

/* .recipe-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.recipe-button {
  transition: 0.5s;
  padding: 2px 5px;
  font-size: 1.3em;
  font-weight: 600;
  border-radius: 2px;
  text-align: center;
}

.red-button {
  background-color: #E8888C;
}

.red-button:hover {
  background-color: #F01D25;
}

.green-button {
  background-color: #87DD92;
}

.green-button:hover {
  background-color: #5CCE6C;
}

.grey-button {
  background-color: #EAEAEA;
}

.grey-button:hover {
  background-color: #E0E0E0;
}

.recipe-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#form-title {
  width: 60vw;
  margin: 20px auto 20px auto;
  padding-bottom: 20px;
  border-bottom: 3px solid #a4a4a4
}

#new-recipe-form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: 500;
}

input, textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 1.5em;
  padding-left: 5px;
}

#submit-new-recipe {
  display: block;
  font-size: 2em;
  width: 60%;
  margin: 1em auto;
  margin-top: 30px;
  height: 3em;
  font-size: 1.1rem;
  min-width: 300px;
}